@import './../../layout/colours.scss';

.header {
    @include Staat-large;
    color: $base-white;
    
    height: 46px;
    line-height: 46px;
    width: 100%;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 2px 2px 3px #ccc;
    padding-left: 14px;
    padding-right: 14px;
    
}

.leftside {
    width: 90%;
    float: left;
}

.rightside {
    width: 10%;
    float: right;
}
