@import './../../layout/colours.scss';
@import './../../layout/breakpoints.scss';

.content {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 30px;

    .float-right {
        text-align: center;
        float: none !important;
    }

    @include respond-to(small) {
        padding-left: 32px;
        padding-right: 32px;
    }
}