@import './../../layout/colours.scss';
@import './../../layout/breakpoints.scss';

.summary-wrapper {

    padding: 20px;
    padding-top: 32px;
    margin-bottom: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .summary-title {
        padding-left: 8px;
        @include Staat-large;
        margin-bottom: 6px;
    }

    .summary-paragraph {
        padding-top: 12px;
        padding-left: 8px;
        padding-bottom: 8px;
        @include Valera-title;
    }

    .btn {
        margin-left: 8px;
        padding-left: 18px;
        padding-right: 18px;
        @include Valera-title;
        color: black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .btn-success {
        background-color: #4caf4f;
    }

    .btn-success:hover, .btn-success:focus, .btn-success:active {
        background-color: #4caf4f;
        border-color: #4caf4f;
        opacity: 0.9;
    }

    .btn-info:hover, .btn-info:focus, .btn-info:active {
        background-color: #17a2b8;
        border-color: #17a2b8;
        opacity: 0.9;
    }

    

    .section-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        .section {
            width: 100%;
            height: 300px;
        }
    }

}

@include respond-to(medium) {
    .summary-wrapper {
        .section-container {
            flex-direction: row;
            .section {
                width: 33.333%;
            }
            .section-expenses {
                width: 66.666%;
            }
        }
    }
}