@import './../../layout/colours.scss';
@import './../../layout/breakpoints.scss';

.content {
    padding-top: 30px;
    padding-left: 8px;
    padding-right: 8px;

    @include respond-to(small) {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.extra {
    text-align: center;
    padding: 0 !important;
}

.income-text {
    padding-left: 8px;
    @include Staat-large;
    margin-bottom: 6px;
}

.content-text {
    padding-left: 8px;
    // padding-bottom: 30px;
    @include Valera-title;
}

ul {
    @include Valera-title;
}

.three-container {
    display: flex;
    margin-top: 30px;
}

.inside-container {
    // border-style: solid;
    // border-width: 1px;
    // border-color: red;
    // height: auto;
    // display: flex;
    // flex-basis: 33.333%;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
}


.buttons {
    padding-left: 8px;
    padding-bottom: 6px;
    .btn {
        @include Valera-small;
        margin-right: 8px;
        font-size: 12px;
    }
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    flex-basis: 100%;
    // margin: 8px;
}

.box-content {
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #F0F0F0;
    height: 75px;
    margin: 8px;
}

.centerAdd {
    cursor: pointer;
    
    .addButton-box-content {
        display: flex;
        align-items: center;
        justify-content: center;
        @include Valera-very-big;
    
        border-style: solid;
        border-color: #4caf4f;
        border-width: 1px;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #4caf4f;
        height: 75px;
        width: 130px;
        margin: 8px;
        .glyphicon {
            margin-bottom: 11px;
            margin-left: 3px;
        }
        .add-button {
            @include Valera-very-big;
        }
    }

    .addButton-box-content:hover {
        opacity: 0.9;
    }
}

.exit {
    height: 25px;
    width: 25px;
    text-align: center;
    float: right;
    display: table;
    font-size: 12px;
}

.glyphicon {
    display:table-cell;
    vertical-align:middle;
    cursor: pointer;
}

.informationContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    height: 100%;
    // width: 90%;
}

.input-icon {
    position: relative;
}

.input-icon > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 20px;
    text-align: center;
    font-style: normal;
}

.input-icon > input {
    padding-left: 15px; 
    padding-right: 0;
}


// form
.form-wrapper {
    display: flex;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;

    .input-fields {
        height: 100%;
        // border-style: solid;
        // border-width: 1px;
        // border-color: rebeccapurple;
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 1px;

        input.form-control {
            font-size: 16px !important;
            padding-bottom: 4px !important;
        }
        
        .income-name {
            margin-bottom: 3px;
            input {
                max-height: 28px;
                @include Valera-small;
            }
        }

        .cost-per {
            display: flex;
            .input-icon {
                width: 50%;
            }
            .per-dropdown {
                width: 50%;
                select {
                    max-height: 28px;
                    background-color: white;
                    @include Valera-small;
                    font-size: 16px !important;
                    padding: 0;
                    margin: 0;
                }
            }
            input {
                max-height: 28px;
                @include Valera-small;
            }
        }
    }

    .submit-and-delete {
        // border-style: solid;
        // border-width: 1px;
        // border-color: red;
        flex-grow: 1;
        min-width: 40px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        font-size: 12px;
        margin-left: 8px;
        margin-top: 1px;
        margin-bottom: 1px;

        .add-button {
            cursor: pointer;
            width: 100%;
            height: 100%;
            padding: 2px;
            padding-top: 7px;
            background-color: #4caf4f;;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            // border-style: solid;
            // border-width: 1px;
            // border-color: green;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            // padding-bottom: 8px;
        }
        .remove-button {
            //@include Valera-small;
            cursor: pointer;
            width: 100%;
            height: 100%;
            margin-top: 4px;
            padding: 2px;
            padding-top: 7px;
            background-color: red;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
            // border-style: solid;
            // border-width: 1px;
            // border-color: red;
            border-radius: 3px;
            display: flex;
            justify-content: center;
        }
    }
}

.minimise-box {
    width: 100%;
}




.valera-font {
    @include Valera-title;
}

.valera-small {
    @include Valera-small;
}

@include respond-to(extra-small) {
    .wrapper {
        justify-content: flex-start;
    }
    .box {
        flex-basis: 100%;
    }
}

@include respond-to(small) {
    .minimise-box {
        width: 50%;
    }
    .box {
        flex-basis: 50%;
    }
}

@include respond-to(medium) {
    .minimise-box {
        width: 33.3333%;
    }
    .box {
        flex-basis: 33.3333%;
    }
}

@include respond-to(large) {
    .minimise-box {
        width: 25%;
    }
    .box {
        flex-basis: 25%;
    }
}

@include respond-to(xlarge) {
    .minimise-box {
        width: 20%;
    }
    .box {
        flex-basis: 20%;
    }
}