

@import './../../layout/colours.scss';
@import './../../layout/breakpoints.scss';

.banner {
    width: 100%;
    height: 40vh;
    background: rgb(124,196,135);
    background: linear-gradient(90deg, rgba(124,196,135,1) 0%, rgba(88,159,83,1) 78%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 60px;

    h1 {
        @include Staat-large-h1-mobile;
        margin-bottom: 0;
    }
}

@include respond-to(medium) {
    .banner {
        h1 {
            @include Staat-large-h1;
        }
    }
}