@import './../../layout/colours.scss';
@import './../../layout/breakpoints.scss';

.expenses-stepper-wrapper {
    @include respond-to(medium) {
        padding-left: 28px;
    }
}
.total-expenses {
    width: 100%;

    @include respond-to(small) {
        display: flex;
        justify-content: center; 
    }

}

.expenses-boxes {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 20px;
    padding-right: 0px;

    .fixed-expenses {
        flex-grow: 1;
        margin-bottom: 7%;

        @include respond-to(small) {
            margin-bottom: 0;
        }
    }

    .variable-expenses {
        flex-grow: 1;
    }

    @include respond-to(small) {
        flex-direction: row;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.informationContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;

    .box-content {
        padding-left: 20px;
        border-style: solid;
        border-color: lightgrey;
        border-width: 1px;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #F0F0F0;
        height: 75px;
        margin: 8px;

        display: flex;
        flex-direction: column;
        justify-content: center;
    
        .valera-font {
            @include Valera-title;
        }
        .valera-small {
            @include Valera-small;
        }
    }

    @include respond-to(small) {
        width: 50%;
    }
}