@import './../../layout/colours.scss';
@import './../../layout/breakpoints.scss';

.expenses-stepper-wrapper {
    padding-left: 28px;
}
.total-expenses {
    width: 100%;
    display: flex;
    justify-content: center;
}

.expenses-boxes {
    display: flex;
    flex-wrap: nowrap;

    .fixed-expenses {
        flex-grow: 1;
    }

    .variable-expenses {
        flex-grow: 1;
    }
}

.informationContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;

    .box-content {
        padding-left: 20px;
        border-style: solid;
        border-color: lightgrey;
        border-width: 1px;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #F0F0F0;
        height: 75px;
        margin: 8px;

        display: flex;
        flex-direction: column;
        justify-content: center;
    
        .valera-font {
            @include Valera-title;
        }
        .valera-small {
            @include Valera-small;
        }
    }
}