<div class="expenses-stepper-wrapper">
    <div class="total-expenses">
        <div class="informationContainer upper-information-container">
            <div class="box-content">
                <div class="valera-font">
                    <b><span class="floatBottom">Total expenses</span></b>
                </div>
                <div class="valera-font">
                    <ng-container *ngIf="boxes.show === 'year'">
                        {{boxes.totalsYear.totalExpenses | currency}}&nbsp;/ <span class="valera-small">year</span>
                    </ng-container>
                    <ng-container *ngIf="boxes.show === 'month'">
                        {{boxes.totalsMonth.totalExpenses | currency}}&nbsp;/ <span class="valera-small">month</span>
                    </ng-container>
                    <ng-container *ngIf="boxes.show === 'two-weeks'">
                        {{boxes.totalsTwoWeek.totalExpenses | currency}}&nbsp;/ <span class="valera-small">two-weeks</span>
                    </ng-container>
                    <ng-container *ngIf="boxes.show === 'week'">
                        {{boxes.totalsWeek.totalExpenses | currency}}&nbsp;/ <span class="valera-small">week</span>
                    </ng-container> 
                </div>
            </div>
        </div>
    </div>

    <div class="expenses-boxes">
        <div class="fixed-expenses">
            <app-stepper [type]="type1" [boxes]="boxes" [specificBox]="boxes.expensesSummary"></app-stepper>
        </div>
        <div class="variable-expenses">
            <app-stepper [type]="type2" [boxes]="boxes" [specificBox]="boxes.varExpensesSummary"></app-stepper>
        </div>
    </div>
</div>
