@import './../../layout/colours.scss';
@import './../../layout/breakpoints.scss';

.content {
    padding-left: 8px;
    padding-right: 8px;

    @include respond-to(small) {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.spacing {
    margin-bottom: 60px;
}