<br />
<br />
<h3 class="income-text"><b>Your {{type}}</b></h3>
<div class="content">
  <ng-content></ng-content>
</div>

<!-- <div class="buttons">
  <button type="button" class="btn btn-primary">Pre-populate</button>
  <button *ngIf="!isSaved; else elseBlock" (click)="clearBoxes()" type="button" class="btn btn-warning">Clear</button>
  <ng-template #elseBlock>
    <button (click)="undoClear()" type="button" class="btn btn-warning">Undo</button>
  </ng-template>
</div> -->


<div class="wrapper">

  <!-- Incomes -->
  <div class="box" *ngFor="let box of boxes; let i = index" [attr.data-index]="i">
    <div class="box-content">
      <div class="exit">
        <span (click)=removeIncome(i) class="glyphicon glyphicon-remove"></span>
      </div>

      <div class="informationContainer">
        <div class="valera-font">
          <b><span class="floatBottom">{{box.incomeName}}</span></b>
        </div>
        <div class="valera-font">
          {{box.amount | currency}} / <span class="valera-small">{{box.per}}</span>
        </div>
      </div>
    </div>
  </div>

  

  <div *ngIf="showNewElement" class="box">
    <div class="box-content box-content-add-new-income">
      <form [formGroup]="myForm">
        <div class="form-wrapper">
          <!-- input fields -->
          <div class="input-fields">
            <!-- income name -->
            <div class="income-name">
              <input formControlName="incomeName" type="text" maxlength="30" class="form-control" placeholder="Income Name" required>
            </div>
            <!-- cost per -->
            <div class="cost-per">
              <div class="input-icon">
                <input formControlName="amount" type="number" maxlength="12" placeholder="0.00" class="form-control">
                <i>$</i>
              </div>
              <span class="valera-font">&nbsp;/&nbsp;</span>
              <div class="per-dropdown">
                <select formControlName="per" class="form-control">
                  <option value="week" selected>Week</option>
                  <option value="two-weeks">Two weeks</option>
                  <option value="month">Month</option>
                  <option value="year">Year</option>
                </select>
              </div>
            </div>

          </div>
          <!-- submit & delete buttons -->
          <div class="submit-and-delete">
            <div (click)="submitIncome()" class="glyphicon glyphicon-ok add-button">
            </div>
            <div (click)="hideNewElement()" class="glyphicon glyphicon-remove remove-button">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- add button -->
  <div *ngIf="!showNewElement" (click)="addNewElement()" class="centerAdd">
    <div class="addButton-box-content">
      <div class="glyphicon glyphicon-plus"></div>
      <div class="add-button">&nbsp;Add</div>
    </div>
  </div>
</div>


<!-- <form [formGroup]="myForm">
  <mat-form-field>
    <input matInput placeholder="" formControlName="incomeName">
  </mat-form-field>
</form> -->


<!-- style="border-style: solid; border-width: 1px; border-color: black;" -->