@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


$base-red: #ae4d53;
$base-orange: #e8af70;
$base-blue: #319799;
$base-yellow: #f8ec9e;
$base-green: #1b5f59;
$base-white: #ffffff;

$header-font: 'Shadows Into Light', cursive;
$main-font: 'Titillium Web', sans-serif;

@mixin theFont {
    font-family: $main-font;
}
//Fonts and Sizes
@mixin Staat-large-h1 {
    font-family: $header-font;
    font-size: 72px;
}

@mixin Staat-large-h1-mobile {
    font-family: $header-font;
    font-size: 32px;
}

@mixin Staat-large-h1-tablet {
    font-family: $header-font;
    font-size: 48px;
}

@mixin Staat-large {
    font-family: $main-font;
    font-size: 24px;
}

@mixin Staat-large-h4 {
    font-family: $main-font;
    font-size: 20px;
}

//add button
@mixin Valera-very-big {
    font-family: $main-font;
    font-size: 26px;
}

@mixin Valera-title {
    font-family: $main-font;
    font-size: 16px;
}

@mixin Valera-small {
    font-family: $main-font;
    font-size: 13px;
}

