@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Puritan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

$base-red: #ae4d53;
$base-orange: #e8af70;
$base-blue: #319799;
$base-yellow: #f8ec9e;
$base-green: #1b5f59;
$base-white: #ffffff;

$header-font: 'Staatliches', cursive;
$main-font: 'Ubuntu', sans-serif;

//Fonts and Sizes
@mixin Staat-large {
    font-family: $header-font;
    font-size: 30px;
}

@mixin Staat-large-h1 {
    font-family: $header-font;
    font-size: 46px;
}

@mixin Valera-very-big {
    font-family: $main-font;
    font-size: 30px;
}

@mixin Valera-title {
    font-family: $main-font;
    font-size: 16px;
}

@mixin Valera-small {
    font-family: $main-font;
    font-size: 12px;
}

