@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

$base-red: #ae4d53;
$base-orange: #e8af70;
$base-blue: #319799;
$base-yellow: #f8ec9e;
$base-green: #1b5f59;
$base-white: #ffffff;

$header-font: 'Open Sans', cursive;
$main-font: 'Ubuntu', sans-serif;

@mixin theFont {
    font-family: $main-font;
}
//Fonts and Sizes
@mixin Staat-large-h1 {
    font-family: $main-font;
    font-size: 52px;
}

@mixin Staat-large-h1-mobile {
    font-family: $main-font;
    font-size: 32px;
}

@mixin Staat-large {
    font-family: $main-font;
    font-size: 24px;
}

@mixin Staat-large-mobile {
    font-family: $main-font;
    font-size: 24px;
}

//add button
@mixin Valera-very-big {
    font-family: $main-font;
    font-size: 26px;
}

@mixin Valera-title {
    font-family: $main-font;
    font-size: 16px;
}

@mixin Valera-small {
    font-family: $main-font;
    font-size: 13px;
}

